In [1]:
import pandas as pd
import numpy as np #Librería para manejar arreglos y vectores
import matplotlib.pyplot as plt #Librería para generación de gráficos
import seaborn as sns
import statsmodels.api as sms
import scipy.stats as stats
import pylab
from statsmodels.stats.diagnostic import het_breuschpagan
import math
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [2]:
# Cargar los datos
data=pd.read_excel('datos.xls', sheet_name = "Wine Quality", header=2)
data

,Calidad del Vino,Acidez Fija,Acidez Volátil,Ácido Cítrico,Azúcar Residual,Cloruros,Dióxido de Azúfre Libre,Dióxido de Azúfre Total,Densidad,pH,Sulfatos,Alcohol
0,6,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8
1,6,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5
2,6,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1
3,6,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9
4,6,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9
...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2
4894,5,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6
4895,6,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4
4896,7,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8
4897,6,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8

In [3]:
# Eliminar las variables no deseadas
data.drop(columns=["pH", "Sulfatos", "Cloruros", "Acidez Volátil", "Acidez Fija", "Calidad del Vino"], inplace=True)

In [4]:
data

,Ácido Cítrico,Azúcar Residual,Dióxido de Azúfre Libre,Dióxido de Azúfre Total,Densidad,Alcohol
0,0.36,20.7,45.0,170.0,1.00100,8.8
1,0.34,1.6,14.0,132.0,0.99400,9.5
2,0.40,6.9,30.0,97.0,0.99510,10.1
3,0.32,8.5,47.0,186.0,0.99560,9.9
4,0.32,8.5,47.0,186.0,0.99560,9.9
...,...,...,...,...,...,...
4893,0.29,1.6,24.0,92.0,0.99114,11.2
4894,0.36,8.0,57.0,168.0,0.99490,9.6
4895,0.19,1.2,30.0,111.0,0.99254,9.4
4896,0.30,1.1,20.0,110.0,0.98869,12.8
4897,0.38,0.8,22.0,98.0,0.98941,11.8

In [5]:
df_punto3_estandarizado_xy = stats.zscore(data, axis=1)
df_punto3_estandarizado_xy = df_punto3_estandarizado_xy[['Ácido Cítrico','Azúcar Residual','Dióxido de Azúfre Libre','Dióxido de Azúfre Total','Alcohol','Densidad']]
df_punto3_estandarizado_xy

,Ácido Cítrico,Azúcar Residual,Dióxido de Azúfre Libre,Dióxido de Azúfre Total,Alcohol,Densidad
0,-0.680780,-0.339861,0.067432,2.162562,-0.539317,-0.670036
1,-0.548896,-0.522362,-0.261241,2.223625,-0.356003,-0.535124
2,-0.700932,-0.509762,0.169626,2.140146,-0.415648,-0.683430
3,-0.630959,-0.507482,0.073675,2.171876,-0.486349,-0.620761
4,-0.630959,-0.507482,0.073675,2.171876,-0.486349,-0.620761
...,...,...,...,...,...,...
4893,-0.657569,-0.617298,0.071315,2.161746,-0.322178,-0.636015
4894,-0.669929,-0.542922,0.271649,2.116901,-0.516324,-0.659375
4895,-0.637805,-0.612316,0.114476,2.158579,-0.405382,-0.617552
4896,-0.611874,-0.591391,-0.107486,2.196822,-0.291831,-0.594241
4897,-0.631939,-0.619846,-0.009451,2.178759,-0.303131,-0.614392

In [6]:
df_punto3_estandarizado_xx = df_punto3_estandarizado_xy.drop(['Densidad'], axis=1)
df_punto3_estandarizado_xx

,Ácido Cítrico,Azúcar Residual,Dióxido de Azúfre Libre,Dióxido de Azúfre Total,Alcohol
0,-0.680780,-0.339861,0.067432,2.162562,-0.539317
1,-0.548896,-0.522362,-0.261241,2.223625,-0.356003
2,-0.700932,-0.509762,0.169626,2.140146,-0.415648
3,-0.630959,-0.507482,0.073675,2.171876,-0.486349
4,-0.630959,-0.507482,0.073675,2.171876,-0.486349
...,...,...,...,...,...
4893,-0.657569,-0.617298,0.071315,2.161746,-0.322178
4894,-0.669929,-0.542922,0.271649,2.116901,-0.516324
4895,-0.637805,-0.612316,0.114476,2.158579,-0.405382
4896,-0.611874,-0.591391,-0.107486,2.196822,-0.291831
4897,-0.631939,-0.619846,-0.009451,2.178759,-0.303131

# 2. $\beta_{1,...,p} = \hat{ρ}_{XX}^{-1}\hat{ρ}_{Xy}$,  y    , $\beta_{0} = \hat{\mu}_y - \hat{\mu}_X^T\beta_{1,...,p}$

In [7]:
from sklearn.model_selection import train_test_split
Y = df_punto3_estandarizado_xy["Densidad"]
X = df_punto3_estandarizado_xx
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [8]:
X_train

,Ácido Cítrico,Azúcar Residual,Dióxido de Azúfre Libre,Dióxido de Azúfre Total,Alcohol
4665,-0.741537,-0.541975,0.369287,2.074724,-0.435067
1943,-0.632394,-0.471323,0.054035,2.175673,-0.501632
3399,-0.694230,-0.480586,0.051257,2.166542,-0.368778
843,-0.675097,-0.637577,0.232332,2.122229,-0.384664
2580,-0.652186,-0.346241,-0.067141,2.191843,-0.486199
...,...,...,...,...,...
4426,-0.636752,-0.498950,-0.003511,2.185640,-0.420602
466,-0.702706,-0.530724,0.360885,2.084663,-0.522799
3092,-0.593561,-0.544105,-0.086459,2.201775,-0.392787
3772,-0.739905,-0.457552,0.369922,2.075405,-0.522824
860,-0.687243,-0.650703,0.331830,2.091187,-0.415220

In [9]:
Y_train

4665   -0.725431
1943   -0.624358
3399   -0.674205
843    -0.657222
2580   -0.640076
          ...
4426   -0.625825
466    -0.689320
3092   -0.584864
3772   -0.725047
860    -0.669851
Name: Densidad, Length: 3918, dtype: float64

In [10]:
ux= np.mean(X_train, axis=0) 
ux= pd.DataFrame(ux)
ux

                                0
Ácido Cítrico           -0.648498
Azúcar Residual         -0.523622
Dióxido de Azúfre Libre  0.058906
Dióxido de Azúfre Total  2.157249
Alcohol                 -0.410796

In [11]:
uy = np.mean(Y_train, axis=0) 
uy

-0.6332388452048487

In [12]:
XY = X_train.copy()
XY['Densidad']=Y_train
XY

,Ácido Cítrico,Azúcar Residual,Dióxido de Azúfre Libre,Dióxido de Azúfre Total,Alcohol,Densidad
4665,-0.741537,-0.541975,0.369287,2.074724,-0.435067,-0.725431
1943,-0.632394,-0.471323,0.054035,2.175673,-0.501632,-0.624358
3399,-0.694230,-0.480586,0.051257,2.166542,-0.368778,-0.674205
843,-0.675097,-0.637577,0.232332,2.122229,-0.384664,-0.657222
2580,-0.652186,-0.346241,-0.067141,2.191843,-0.486199,-0.640076
...,...,...,...,...,...,...
4426,-0.636752,-0.498950,-0.003511,2.185640,-0.420602,-0.625825
466,-0.702706,-0.530724,0.360885,2.084663,-0.522799,-0.689320
3092,-0.593561,-0.544105,-0.086459,2.201775,-0.392787,-0.584864
3772,-0.739905,-0.457552,0.369922,2.075405,-0.522824,-0.725047
860,-0.687243,-0.650703,0.331830,2.091187,-0.415220,-0.669851

In [13]:
XY.corr(method="spearman")

,Ácido Cítrico,Azúcar Residual,Dióxido de Azúfre Libre,Dióxido de Azúfre Total,Alcohol,Densidad
Ácido Cítrico,1.000000,0.126236,-0.746947,0.855626,0.210669,0.992153
Azúcar Residual,0.126236,1.000000,-0.413435,0.417683,-0.338240,0.095691
Dióxido de Azúfre Libre,-0.746947,-0.413435,1.000000,-0.952856,-0.503700,-0.785563
Dióxido de Azúfre Total,0.855626,0.417683,-0.952856,1.000000,0.387034,0.877553
Alcohol,0.210669,-0.338240,-0.503700,0.387034,1.000000,0.299672
Densidad,0.992153,0.095691,-0.785563,0.877553,0.299672,1.000000

In [14]:
X_train.corr(method="spearman")

,Ácido Cítrico,Azúcar Residual,Dióxido de Azúfre Libre,Dióxido de Azúfre Total,Alcohol
Ácido Cítrico,1.000000,0.126236,-0.746947,0.855626,0.210669
Azúcar Residual,0.126236,1.000000,-0.413435,0.417683,-0.338240
Dióxido de Azúfre Libre,-0.746947,-0.413435,1.000000,-0.952856,-0.503700
Dióxido de Azúfre Total,0.855626,0.417683,-0.952856,1.000000,0.387034
Alcohol,0.210669,-0.338240,-0.503700,0.387034,1.000000

In [15]:
correlation_spearman_xy = XY.corr(method="spearman")
correlation_spearman_xy = correlation_spearman_xy.drop(['Densidad'],axis=0)
correlation_spearman_xy = correlation_spearman_xy['Densidad']
correlation_spearman_xy

Ácido Cítrico              0.992153
Azúcar Residual            0.095691
Dióxido de Azúfre Libre   -0.785563
Dióxido de Azúfre Total    0.877553
Alcohol                    0.299672
Name: Densidad, dtype: float64

In [16]:
correlation_spearman_xx = X_train.corr(method="spearman")
correlation_spearman_xx

,Ácido Cítrico,Azúcar Residual,Dióxido de Azúfre Libre,Dióxido de Azúfre Total,Alcohol
Ácido Cítrico,1.000000,0.126236,-0.746947,0.855626,0.210669
Azúcar Residual,0.126236,1.000000,-0.413435,0.417683,-0.338240
Dióxido de Azúfre Libre,-0.746947,-0.413435,1.000000,-0.952856,-0.503700
Dióxido de Azúfre Total,0.855626,0.417683,-0.952856,1.000000,0.387034
Alcohol,0.210669,-0.338240,-0.503700,0.387034,1.000000

In [17]:
inverse_correlation_spearman_xx = np.linalg.inv(correlation_spearman_xx)
inverse_correlation_spearman_xx = pd.DataFrame(inverse_correlation_spearman_xx)
inverse_correlation_spearman_xx

           0         1          2          3         4
0  12.676312  7.394704   1.087411 -15.343524  6.316874
1   7.394704  6.785823   3.950043  -7.590007  5.664630
2   1.087411  3.950043  18.693073  13.124934  5.442886
3 -15.343524 -7.590007  13.124934  31.743614 -5.009667
4   6.316874  5.664630   5.442886  -5.009667  6.265729

In [18]:
# Calculamos los coeficientes del modelo RLM usando la fórmula
beta_spearman = np.dot(inverse_correlation_spearman_xx, correlation_spearman_xy)
beta_spearman = pd.DataFrame(beta_spearman)
beta_spearman

          0
0  0.858460
1 -0.080086
2 -0.078819
3  0.095555
4  0.015049

In [19]:
B0 = uy - np.dot(np.transpose(ux),beta_spearman)
B0 = pd.DataFrame(B0)
B0 = B0.at[0, 0]
B0

-0.31377408260340006

In [20]:
Y_pred_spearman = B0 + np.dot(X_test, beta_spearman)
Y_pred_spearman = pd.DataFrame(Y_pred_spearman)
Y_pred_spearman
y_pred_test= Y_pred_spearman.copy()
y_pred_test

            0
0   -0.712146
1   -0.633114
2   -0.610776
3   -0.577981
4   -0.688897
..        ...
975 -0.569713
976 -0.664015
977 -0.640682
978 -0.559267
979 -0.549865

[980 rows x 1 columns]

In [21]:
Y_test

4656   -0.695437
3659   -0.635205
907    -0.619791
4352   -0.588056
3271   -0.687543
          ...
3207   -0.584335
1539   -0.663878
964    -0.638597
168    -0.572621
3661   -0.564478
Name: Densidad, Length: 980, dtype: float64

In [22]:
Y_train

4665   -0.725431
1943   -0.624358
3399   -0.674205
843    -0.657222
2580   -0.640076
          ...
4426   -0.625825
466    -0.689320
3092   -0.584864
3772   -0.725047
860    -0.669851
Name: Densidad, Length: 3918, dtype: float64

In [23]:
rmse_spearman = math.sqrt(mean_squared_error(Y_test, Y_pred_spearman))
rmse_spearman

0.01581412069879064

In [24]:
r_squared = r2_score(Y_test, Y_pred_spearman)
r_squared

0.901669921111603

In [27]:
# Implementamos una función que nos permita calcular las métricas de regresión para el conjunto 
# de entrenamiento y de prueba
# R2, R2 Ajustado MAE, MAPE, MSE, RMSE
# El coeficiente de determinación se puede ver como la varianza total explicada por el modelo, 
# es decir la proporción de la varianza en la variable dependiente que se puede predecir a partir de 
# las variables independientes
# Nos retorna el modelo entrenado y un diccionario con las principales métricas sobre el conjunto de
# entrenamiento y el de prueba

from sklearn.metrics import r2_score, mean_absolute_error, mean_absolute_percentage_error, mean_squared_error

def regression_metrics(X_train,X_test,y_train,y_test,y_pred_test):
    k_train = X_train.shape[1]
    n_train = len(X_train)
    k_test = X_test.shape[1]
    n_test = len(X_test)
    r2_test = r2_score(y_test, y_pred_test)
    adj_r2_test = 1-(1-r2_test)*(n_test-1)/(n_test-k_test-1)
    metrics = {"Test R^2": r2_test,
               "Test Adj R^2": adj_r2_test,
               "Test MAE": mean_absolute_error(y_test,y_pred_test),
               "Test MAPE": mean_absolute_percentage_error(y_test,y_pred_test),
               "Test RMSE": np.sqrt(mean_squared_error(y_test, y_pred_test))    
               }
    for item in metrics.items():
        print(item[0],"=",item[1])
    return metrics
    
def r2_metrics(X_train,X_test,y_train,y_test):
    k_train = X_train.shape[1]
    n_train = len(X_train)
    k_test = X_test.shape[1]
    n_test = len(X_test)
    r2_test = r2_score(y_test, y_pred_test)
    adj_r2_test = 1-(1-r2_test)*(n_test-1)/(n_test-k_test-1)
    return r2_test, adj_r2_test

In [28]:
regression_metrics(X_train,X_test,Y_train,Y_test,y_pred_test)

Test R^2 = 0.901669921111603
Test Adj R^2 = 0.9011651465793218
Test MAE = 0.011583370235160659
Test MAPE = 0.018258666309468426
Test RMSE = 0.01581412069879064

{'Test R^2': 0.901669921111603,
 'Test Adj R^2': 0.9011651465793218,
 'Test MAE': 0.011583370235160659,
 'Test MAPE': 0.018258666309468426,
 'Test RMSE': 0.01581412069879064}